<html ng-app="weather">
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="WeatherController as WC">
	<header>
		<h2 id="logo">WEATHER</h2>

		<ul id="navBar">
			<li id="oneLoc" ng-click="showLoc = true; showCompare = false">Your
				Weather</li>
			<li id="compareLocs" ng-click="showCompare = true; showLoc = false">Compare
				Weather</li>
			<li id=""></li>
		</ul>
	</header>


	<section id="oneLocSection" ng-show="showLoc">
		<form ng-submit="WC.addWeather(false)">
			<input id="zipcodeOne" type="text" placeholder="ZIP Code" ng-model="WC.singleZip"> 
			<input id="btnEnterOne" type="submit" ng-disabled="!WC.singleZip" value="Weather Me!"> <br><br>
			<div>weather for </div>
			<div class="info">{{ WC.oneWeather[0].full }}</div>
			<br><br>
			<div>current temp</div>
			<div class="info">{{ WC.oneWeather[0].tempF }}</div>
			<br><br>
			<div>current weather</div>
			<div class="info">{{ WC.oneWeather[0].weather }}</div>
		</form>

	</section>


	<section id="compareSection" ng-show="showCompare">
		<h3>Add ZIP codes to the list below!</h3>
		<form ng-submit="WC.addWeather(true)">
			<input id="zipcodeCompare" type="text" placeholder="ZIP Code"
				ng-model="WC.newZip"> <input ng-disabled="!WC.newZip"
				id="btnEnterCompare" type="submit" value="Add to list!"> <br>
			<br> <br>
			<table id="listDisplay">
				<tr id="tableHeadings">
					<td>ZIP</td>
					<td>City</td>
					<td>State</td>
					<td>Temp (F)</td>
					<td>Weather</td>
					<td>Wind (mph)</td>
				</tr>
				<tr data-id="{{ weather.zip }}" ng-repeat="weather in WC.weathers">
					<td>{{ weather.zip }}</td>
					<td>{{ weather.city }}</td>
					<td>{{ weather.state }}</td>
					<td>{{ weather.tempF }}</td>
					<td>{{ weather.weather }}</td>
					<td>{{ weather.wind }}</td>

				</tr>
			</table>
		</form>
	</section>

	<script src="angular.js"></script>
	<script type="text/javascript">
		angular.module('weather', []).controller("WeatherController", function($http) {

			var self = this;

			self.weathers = [];

			self.oneWeather = [];

			this.newZip = "";
			this.singleZip = "";

			this.addWeather = function(many) {

				if (many === true) {
					$http.get('weather/' + self.newZip).then(function(response) {
						console.log(JSON.parse(response.data[0]));
						self.add(JSON.parse(response.data[0]));
					})
				} else {
					$http.get('weather/' + self.singleZip).then(function(response) {
						console.log(JSON.parse(response.data[0]));
						self.addOneWeather(JSON.parse(response.data[0]));
					})
				}
			};

			this.newZip = "";
			this.add = function(json) {
				this.weathers.push({
					zip : json.current_observation.display_location.zip,
					city : json.current_observation.display_location.city,
					state : json.current_observation.display_location.state,
					tempF : json.current_observation.temp_f,
					weather : json.current_observation.weather,
					wind : json.current_observation.wind_mph
				})
				this.newZip = "";
			}

			this.addOneWeather = function(json) {
				this.oneWeather = [];
				this.oneWeather.push({
					zip : json.current_observation.display_location.zip,
					city : json.current_observation.display_location.city,
					state : json.current_observation.display_location.state,
					full : json.current_observation.display_location.full,
					tempF : json.current_observation.temp_f,
					weather : json.current_observation.weather,
					wind : json.current_observation.wind_mph
				})
				console.log(this.oneWeather.length);
				this.singleZip = "";
			}

		});
	</script>
</body>


</html>