<html ng-app="weather">
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="WeatherController as WC">
	<header>
		<h2 id="logo">WEATHER</h2>

		<ul id="navBar">
			<li id="oneLoc" ng-click="WC.showLoc = true; WC.showCompare = false">Your
				Weather</li>
			<li id="compareLocs"
				ng-click="WC.showCompare = true; WC.showLoc = false">Compare
				Weather</li>
			<li id=""></li>
		</ul>
	</header>

	<section id="oneLocSection" ng-show="WC.showLoc">
		<h3>Enter your ZIP code to display your weather!</h3>

		<form ng-submit="WC.newOneWeather()">
			<input id="zipcodeOne" type="text" placeholder="ZIP Code"
				ng-model="WC.singleZip"> <input id="btnEnterOne"
				type="submit" ng-disabled="!WC.singleZip" value="Weather Me!">
			<br> <br>
			<div ng-show="WC.showWeather">
				<div>weather for</div>
				<div class="info">{{ WC.oneWeather[0].full }}</div>
				<br> <br>
				<div>current temp</div>
				<div class="info">{{ WC.oneWeather[0].tempF }}</div>
				<br> <br>

				<div>current weather</div>
				<span id="weatherIconSpan" class="info"> <img
					ng-src="{{ WC.oneWeather[0].weather_icon }}"> {{
					WC.oneWeather[0].weather }}
				</span>
			</div>
		</form>

	</section>


	<section id="compareSection" ng-show="WC.showCompare">
		<h3>Add ZIP codes to the list below!</h3>
		<form ng-submit="WC.addWeatherToTable()">
			<input id="zipcodeCompare" type="text" placeholder="ZIP Code"
				ng-model="WC.newZip"> <input ng-disabled="!WC.newZip"
				id="btnEnterCompare" type="submit" value="Add to list!"> <br>
			<br> <br>
			<table id="listDisplay">
				<tr id="tableHeadings">
					<td>ZIP</td>
					<td>City</td>
					<td>State</td>
					<td>Temp (F)</td>
					<td>Weather</td>
					<td>Wind (mph)</td>
				</tr>
				<tr data-id="{{ weather.zip }}" ng-repeat="weather in WC.weathers">
					<td>{{ weather.zip }}</td>
					<td>{{ weather.city }}</td>
					<td>{{ weather.state }}</td>
					<td>{{ weather.tempF }}</td>
					<td>{{ weather.weather }}</td>
					<td>{{ weather.wind }}</td>

				</tr>
			</table>
		</form>
	</section>

	<script src="angular.js"></script>
	<script type="text/javascript">
		angular.module('weather', []).controller("WeatherController", function($http) {

			var controller = this;
			controller.showLoc = true;
			controller.showWeather = false;

			controller.weathers = [];
			controller.oneWeather = [];

			controller.newZip = "";
			controller.singleZip = "";

			controller.newOneWeather = function() {
				controller.showWeather = false;
				$http.get('weather/' + controller.singleZip).then(function(response) {
					console.log(JSON.parse(response.data[0]));
					controller.oneWeatherDisplay(JSON.parse(response.data[0]));
				})
			};

			controller.addWeatherToTable = function() {
				$http.get('weather/' + controller.newZip).then(function(response) {
					console.log(JSON.parse(response.data[0]));
					controller.addToTable(JSON.parse(response.data[0]));
				})
			};

			controller.newZip = "";
			controller.addToTable = function(json) {
				controller.weathers.push({
					zip : json.current_observation.display_location.zip,
					city : json.current_observation.display_location.city,
					state : json.current_observation.display_location.state,
					tempF : json.current_observation.temp_f,
					weather : json.current_observation.weather,
					wind : json.current_observation.wind_mph
				})
				controller.newZip = "";
			}

			controller.oneWeatherDisplay = function(json) {
				controller.oneWeather = [];
				controller.oneWeather.push({
					zip : json.current_observation.display_location.zip,
					city : json.current_observation.display_location.city,
					state : json.current_observation.display_location.state,
					full : json.current_observation.display_location.full,
					tempF : json.current_observation.temp_f,
					weather : json.current_observation.weather,
					weather_icon : json.current_observation.icon_url,
					wind : json.current_observation.wind_mph
				})
				console.log(this.oneWeather.length);
				controller.singleZip = "";
				controller.showWeather = true;
			}

		});
	</script>
</body>


</html>